<div class="example-button-container">
  <button (click)="addNewCustomerOpenDialog()" aria-label="Example icon button with a bookmark icon" color="primary" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="example-container mat-elevation-z8" style="margin-top: 5px;height: 100%">
  <mat-table #table [dataSource]="dataSource" style="height: 100%">

    <!-- Customer Name column -->
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef> Customer Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
    </ng-container>

    <!-- Email ID Column -->
    <ng-container matColumnDef="emailId">
      <mat-header-cell *matHeaderCellDef> Email Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailId}} </mat-cell>
    </ng-container>

    <!-- Mobile No column -->
    <ng-container matColumnDef="mobileNo">
      <mat-header-cell *matHeaderCellDef> Mobile No</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobileNo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="openDialogEditCustomer('update', element)" mat-icon-button matTooltip="Edit Customer">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <mat-chip-list aria-label="Fish selection">
          <div *ngFor="let address of detail.element.addresses">
            <table>
              <tr>
                <td>
                  <mat-chip color="primary" selected>{{address.site}}</mat-chip>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-chip>{{address.address}} {{address.city}} {{address.state}} {{address.postalCode}}</mat-chip>
                </td>
              </tr>
            </table>
          </div>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="expandedElement === row? expandedElement = null : expandedElement = row"
             *matRowDef="let row; columns: displayedColumns;"
             [class.expanded]="expandedElement == row"
             class="element-row"
             matRipple></mat-row>

    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>
</div>
<mat-card *ngIf="customers.length == 0">
  <div style="text-align:center;">
    <mat-card-title style="font-size: 14px;"> No data found.</mat-card-title>
  </div>
</mat-card>
