table{
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
/*

.mat-header-cell {
  font-size: 16px;
}
.mat-column-customerName {
  width: 20%;
  !*font-size: 14px;*!
  border-right: 1px solid lightgray;
  text-align: center;
  margin-right: 10px;
  padding-left: 16px;
}
.mat-column-mobileNo {
  padding-left: 16px;
  !*font-size: 14px;*!
  width: 5%;
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
  margin: 2px;
}
.mat-column-emailId {
  padding-left: 16px;
  !*font-size: 14px;*!
  width: 8%;
  padding-left: 16px;
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
  margin: 2px;
}
.mat-column-action {
  width: 5%;
  !*font-size: 14px;*!
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
  margin: 2px;
}
*/
