<div class="example-button-container">
  <button (click)="editDriverForm('insert',  null)" aria-label="Example icon button with a bookmark icon"
          color="primary"
          mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
<table [dataSource]="dataSource" class="mat-elevation-z20" mat-table style="margin-top: 5px;">
  <ng-container matColumnDef="driverName">
    <th *matHeaderCellDef mat-header-cell>Driver Name</th>
    <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.driverName}} </td>
  </ng-container>
  <ng-container matColumnDef="mobileNo">
    <th *matHeaderCellDef mat-header-cell>Mobile No</th>
    <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.mobileNo}} </td>
  </ng-container>
  <ng-container matColumnDef="vehicleNo">
    <th *matHeaderCellDef mat-header-cell>Vehicle No</th>
    <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.vehicleNo}} </td>
  </ng-container>
  <ng-container matColumnDef="licenseNo">
    <th *matHeaderCellDef mat-header-cell>License No</th>
    <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.licenseNo}} </td>
  </ng-container>
  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell>Action</th>
    <td *matCellDef="let element" class="action-link" mat-cell>
      <button (click)="editDriverForm('update', element)" mat-icon-button matTooltip="Edit Driver">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<mat-card *ngIf="dataSource.length == 0">
  <div style="text-align:center;">
    <mat-card-title style="font-size: 14px;"> No driver details found.</mat-card-title>
  </div>
</mat-card>

