<div class="example-button-container">
  <button (click)="openAddNewInvoiceDialog()" aria-label="Example icon button with a bookmark icon" color="primary"
          mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Search box -->
<mat-accordion class="example-headers-align" multi style="padding: 1px;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Search</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" style="width: 200px;">
      <mat-label>Royalty No</mat-label>
      <input [(ngModel)]="invoiceSearchForm.royaltyNo" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 200px;">
      <mat-label>Challan No</mat-label>
      <input [(ngModel)]="invoiceSearchForm.invoiceNo" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Customer Name</mat-label>
      <input [(ngModel)]="invoiceSearchForm.customerName" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 250px;">
      <mat-label>Purchase Date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input [(ngModel)]="invoiceSearchForm.purchaseDateFrom" matStartDate placeholder="From Date">
        <input [(ngModel)]="invoiceSearchForm.purchaseDateTo" matEndDate placeholder="To Date">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button (click)="search()" color="primary" mat-raised-button style="margin-right:10px">Search</button>
    <button (click)="reset()" color="accent" mat-raised-button>Reset</button>

  </mat-expansion-panel>
</mat-accordion>


<div #table class="table-container">
  <table [dataSource]="dataSource" class="mat-elevation-z20" mat-table matSort matSortActive="true">
    <ng-container matColumnDef="invoiceNo">
      <th *matHeaderCellDef mat-header-cell>Challan No</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.invoiceNo}} </td>
    </ng-container>
    <ng-container matColumnDef="purchaseDate">
      <th *matHeaderCellDef mat-header-cell>Purchase Date</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.purchaseDate | date: 'd/M/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="royaltyNo">
      <th *matHeaderCellDef mat-header-cell>Royalty No</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.royaltyNo}} </td>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <th *matHeaderCellDef mat-header-cell>Customer Name</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.customer.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell>Address</th>
      <td *matCellDef="let element" mat-cell
          style="text-align: left"> {{element.address.address}} {{ element.city}} {{ element.state}} {{element.postalCode}} </td>
    </ng-container>
    <ng-container matColumnDef="mobileNo">
      <th *matHeaderCellDef mat-header-cell>Mobile No</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.customer.mobileNo}} </td>
    </ng-container>
    <ng-container matColumnDef="material">
      <th *matHeaderCellDef mat-header-cell>Material</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.product.productName}} </td>
    </ng-container>
    <ng-container matColumnDef="lengthGrossWt">
      <th *matHeaderCellDef mat-header-cell>Length Gross/Wt</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.lengthGrossWt}} </td>
    </ng-container>
    <ng-container matColumnDef="widthTareWt">
      <th *matHeaderCellDef mat-header-cell>Width Tara/Wt</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.widthTareWt}} </td>
    </ng-container>
    <ng-container matColumnDef="heightNetWt">
      <th *matHeaderCellDef mat-header-cell>Height Net/Wt</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.heightNetWt}} </td>
    </ng-container>
    <ng-container matColumnDef="totalQuantity">
      <th *matHeaderCellDef mat-header-cell>Total Quantity</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.totalQuantity}} </td>
    </ng-container>
    <ng-container matColumnDef="driverName">
      <th *matHeaderCellDef mat-header-cell>Driver Name</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.driver.driverName}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicleNo">
      <th *matHeaderCellDef mat-header-cell>Vehicle No</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.driver.vehicleNo}} </td>
    </ng-container>
    <ng-container matColumnDef="outTime">
      <th *matHeaderCellDef mat-header-cell>Out Time</th>
      <td *matCellDef="let element" mat-cell style="text-align: left"> {{element.outTime.substr(0, 5)}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>Action</th>
      <td *matCellDef="let element" class="action-link" mat-cell>
        <button (click)="openUpdateInvoiceDialog('update', element)" mat-icon-button matTooltip="Edit Challan">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="openInvoicePrintDialog(element)" mat-icon-button matTooltip="Print Challan">
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [length]="totalCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 (page)="$event; onPaginateChange($event)" class="mat-elevation-z2"
                 aria-label="Select page of users"></mat-paginator>

  <mat-card *ngIf="dataSource.data && dataSource.data.length == 0">
    <div style="text-align:center;">
      <mat-card-title style="font-size: 14px;"> No data found.</mat-card-title>
    </div>
  </mat-card>
</div>
