<form #form="ngForm">
  <mat-card>
    <div style="align: center">
      <mat-card-title style="text-align: center;">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Challan</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card-title>
    </div>
    <mat-card-subtitle style="margin-top: 10px;">Order Info</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Challan No</mat-label>
        <input [(ngModel)]="invoice.invoiceNo"
               [disabled]="true"
               matInput
               name="invoiceNo"
               required
               style="column-width: 400px;">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Royalty No</mat-label>
        <input #royaltyNo="ngModel" [(ngModel)]="invoice.royaltyNo" matInput name="royaltyNo" required
               style="column-width: 400px;">
        <mat-error *ngIf="!royaltyNo.valid && royaltyNo.touched">Please enter Royalty No.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Purchase Date</mat-label>
        <input #purchaseDate="ngModel" [(ngModel)]="invoice.purchaseDate" [matDatepicker]="picker" matInput
               name="purchaseDate" required>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!purchaseDate.valid && purchaseDate.touched">Please enter purchase date.</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-subtitle>Customer Details</mat-card-subtitle>
    <mat-card-content>

      <!-- Customer Name Auto complete-->
      <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Customer Name</mat-label>
        <input #customerInput (keyup)="0" [formControl]="customerNameAutoComplete" [matAutocomplete]="autoCompleteCustomer"
               aria-label="Customer" matInput placeholder="Customer"
               required/>

        <mat-autocomplete #autoCompleteCustomer="matAutocomplete" (optionSelected)="updateCustomerDetails($event)">
          <mat-option id="-1"><span><mat-icon>add</mat-icon>Add new Customer</span></mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let customer of filteredCustomers | async" [id]="customer.id"
                      [value]="customer.customerName">
            <span>{{ customer.customerName }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!customerNameAutoComplete.valid && customerNameAutoComplete.touched">Please select customer
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobile No</mat-label>
        <input #mobileNo="ngModel" [(ngModel)]="invoice.customer.mobileNo" [disabled]="true" matInput name="mobileNo">
        <mat-error *ngIf="!mobileNo.valid && mobileNo.touched">Please enter mobile no.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email ID</mat-label>
        <input #emailId="ngModel" [(ngModel)]="invoice.customer.emailId" [disabled]="true" email matInput
               name="emailId">
        <mat-error *ngIf="!emailId.valid && emailId.touched">Please enter valid email id.</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-content>
      <mat-card-subtitle>Address Details</mat-card-subtitle>
      <!-- Address Auto Complete -->
      <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Address</mat-label>
        <input #addressInput (keyup)="0" [formControl]="addressAutoComplete" [matAutocomplete]="autoCompleteAddress"
               aria-label="Address"
               matInput placeholder="Address"/>

        <mat-autocomplete #autoCompleteAddress="matAutocomplete" (optionSelected)="updateAddressDetails($event)">
          <mat-option id="-1"><span><mat-icon>add</mat-icon>Add new Address</span></mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let address of filteredAddresses | async" [id]="address.id" [value]="address.address">
            <span>{{ address.site }}</span> |
            <small>{{address.address}} {{address.city}} {{address.state}} {{address.postalCode}}</small>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!addressAutoComplete.valid && addressAutoComplete.touched">Please select address</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input [(ngModel)]="invoice.address.city" [disabled]="true" matInput name="city">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input [(ngModel)]="invoice.address.state" [disabled]="true" matInput name="state">
      </mat-form-field>

    </mat-card-content>

    <mat-card-subtitle>Product Details</mat-card-subtitle>
    <mat-card-content>

      <!-- Product Name auto complete -->
      <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Material</mat-label>
        <input #productNameInput (keyup)="0"
               [formControl]="productNameAutoComplete"
               [matAutocomplete]="autoCompleteProductName"
               aria-label="Product Name"
               matInput
               placeholder="Product Name"/>

        <mat-autocomplete #autoCompleteProductName="matAutocomplete" (optionSelected)="updateProductDetail($event)">
          <mat-option id="-1"><span><mat-icon>add</mat-icon>Add new product</span></mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let product of filteredProducts | async" [id]="product.id" [value]="product.productName">
            <span>{{ product.productName }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!productNameAutoComplete.valid && productNameAutoComplete.touched">Please select product
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Length Gross/Wt</mat-label>
        <input #lengthGrossWt="ngModel" [(ngModel)]="invoice.lengthGrossWt" matInput name="lengthGrossWt"
               type="number">
        <mat-error *ngIf="!lengthGrossWt.valid && lengthGrossWt.touched">Mandatory input.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Width Tara/Wt</mat-label>
        <input #widthTareWt="ngModel" [(ngModel)]="invoice.widthTareWt" matInput name="widthTareWt"
               type="number">
        <mat-error *ngIf="!widthTareWt.valid && widthTareWt.touched">Mandatory input.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Height Net/Wt</mat-label>
        <input #heightNetWt="ngModel" [(ngModel)]="invoice.heightNetWt" matInput name="heightNetWt"
               type="number">
        <mat-error *ngIf="!heightNetWt.valid && heightNetWt.touched">Mandatory input.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Total Quantity Wt/Brass</mat-label>
        <input #totalQuantity="ngModel" [(ngModel)]="invoice.totalQuantity" matInput name="totalQuantity" required
               type="number">
        <mat-error *ngIf="!totalQuantity.valid && totalQuantity.touched">Mandatory input.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-subtitle>Driver Details</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Driver Name</mat-label>
        <input #driverNameInput (keyup)="0"
               [formControl]="driverNameAutoComplete"
               [matAutocomplete]="autoCompleteDriverName"
               aria-label="Driver Name"
               matInput
               placeholder="Driver Name"/>

        <mat-autocomplete #autoCompleteDriverName="matAutocomplete" (optionSelected)="updateDriverDetail($event)">
          <mat-option id="-1"><span><mat-icon>add</mat-icon>Add new driver</span></mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let driver of filteredDrivers | async" [id]="driver.id" [value]="driver.driverName">
            <span>{{ driver.driverName }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="!driverNameAutoComplete.valid && driverNameAutoComplete.touched">Please select driver
        </mat-error>
      </mat-form-field>

      <!-- Driver Vehicle No -->
      <mat-form-field appearance="fill">
        <mat-label>Vehicle No</mat-label>
        <input #vehicleNo="ngModel" [(ngModel)]="invoice.driver.vehicleNo" matInput name="vehicleNo" required>
        <mat-error *ngIf="!vehicleNo.valid && vehicleNo.touched">Please enter vehicle no.</mat-error>
      </mat-form-field>

      <!-- Driver Mobile No -->
      <mat-form-field appearance="fill">
        <mat-label>Mobile No</mat-label>
        <input #mobileNo="ngModel" [(ngModel)]="invoice.driver.mobileNo" matInput name="mobileNo" required>
      </mat-form-field>

      <!-- Driver License No -->
      <mat-form-field appearance="fill">
        <mat-label>License No</mat-label>
        <input #licenseNo="ngModel" [(ngModel)]="invoice.driver.licenseNo" [disabled]="true" matInput name="licenseNo">
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Out Time (HH:MM 24H)</mat-label>
        <input #outTimeControl="ngModel" [(ngModel)]="invoice.outTime" [format]="24" [ngxTimepicker]="outTime" matInput
               name="outTime" required>
        <ngx-material-timepicker #outTime></ngx-material-timepicker>

        <mat-error *ngIf="!outTimeControl.valid && outTimeControl.touched">Please enter vehicle no.</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions style="margin-left: 5px;">
      <button (click)="saveInvoice()" [disabled]="!(form.valid) || !(form.touched)" color="primary" mat-raised-button>Save</button>
      <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
      <button (click)="saveInvoiceAndPrint()" [disabled]="!form.valid" color="primary" mat-raised-button>Save & Print</button>

    </mat-card-actions>

  </mat-card>
</form>
