<mat-toolbar class="mat-elevation-z8">
  <button (click)="sidenav.toggle()" *ngIf="sidenav.mode === 'over'" mat-icon-button>
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  FINMAN
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="assets/logo.jpg"/>

    <h4 class="name">Balaji Minerals</h4>
    <p class="designation">CREATING DREAMS WITH BEAMS.</p>

    <mat-divider></mat-divider>

    <button class="menu-button" mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <!-- Challan -->
    <button class="menu-button" mat-button routerLink="/invoice-list">
      <mat-icon>featured_play_list</mat-icon>
      <span>Challan</span>
    </button>

    <!-- Customer -->
    <button class="menu-button" mat-button routerLink="/customer-list">
      <mat-icon>featured_play_list</mat-icon>
      <span>Customer</span>
    </button>
    <!-- Product -->
    <button class="menu-button" mat-button routerLink="/product-list">
      <mat-icon>featured_play_list</mat-icon>
      <span>Material</span>
    </button>
    <!-- Driver -->
    <button class="menu-button" mat-button routerLink="/driver-list">
      <mat-icon>featured_play_list</mat-icon>
      <span>Driver</span>
    </button>
    <mat-divider></mat-divider>

    <button class="menu-button" mat-button>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-main mat-elevation-z8">
      <div style="margin: 10px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
