<mat-card>
  <div style="align: center">
    <mat-card-title style="text-align: center;">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Add new  customer</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>
  </div>
  <mat-card-subtitle style="margin-top: 10px;">Customer Info</mat-card-subtitle>
  <mat-card-content>
    <!-- Customer Name input -->
    <mat-form-field appearance="fill">
      <mat-label>Customer Name</mat-label>
      <input #customerName="ngModel"
             [(ngModel)]="customer.customerName"
             matInput
             name="customerName"
             required
             style="column-width: 400px;">
      <mat-error *ngIf="!customerName.valid && customerName.touched">Mandatory input.</mat-error>
    </mat-form-field>

    <!-- Mobile No Input -->
    <mat-form-field appearance="fill">
      <mat-label>Mobile No</mat-label>
      <input #mobileNo="ngModel"
             [(ngModel)]="customer.mobileNo"
             matInput
             maxlength="10"
             name="mobileNo"
             pattern="[0-9]{10}"
             required
             style="column-width: 400px;" type="tel">
      <mat-error *ngIf="!mobileNo.valid && mobileNo.touched">Invalid mobile no, please check your input.</mat-error>
    </mat-form-field>

    <!-- Email Id Input -->
    <mat-form-field appearance="fill">
      <mat-label>Email Id</mat-label>
      <input #emailId="ngModel"
             [(ngModel)]="customer.emailId"
             email
             matInput
             name="emailId"
             style="column-width: 400px;">
      <mat-error *ngIf="!emailId.valid && emailId.touched">Invalid email id.</mat-error>
    </mat-form-field>

  </mat-card-content>

  <mat-card-subtitle>Site Details</mat-card-subtitle>
  <mat-card-content>
    <div *ngFor="let address of this.customer.addresses; last as isLast">

      <mat-form-field appearance="fill">
        <mat-label>Site Name</mat-label>
        <input #site="ngModel"
               [(ngModel)]="address.site"
               matInput
               name="site" required
               style="column-width: 400px;">
        <mat-error *ngIf="!site.valid && site.touched">Mandatory input.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input #addr="ngModel"
               [(ngModel)]="address.address"
               matInput
               name="addr"
               required
               style="column-width: 400px;">
        <mat-error *ngIf="!addr.valid && addr.touched">Mandatory input.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input #city="ngModel"
               [(ngModel)]="address.city"
               matInput
               name="city"
               style="column-width: 400px;">
        <mat-error *ngIf="!city.valid && city.touched">Mandatory input.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input #state="ngModel"
               [(ngModel)]="address.state"
               matInput
               name="state"
               style="column-width: 400px;">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input #postalCode="ngModel"
               [(ngModel)]="address.postalCode"
               matInput
               maxlength="6"
               name="postalCode"
               style="column-width: 400px;">
        <mat-error *ngIf="!postalCode.valid && postalCode.touched">Please check your input.</mat-error>
      </mat-form-field>

      <button (click)="addAddress()" color="white" mat-raised-button>Add</button>
      <button (click)="removeAddress()" color="white" mat-raised-button>Remove</button>
    </div>
  </mat-card-content>

  <mat-card-actions style="margin-left: 5px;">
    <button (click)="saveCustomer()" color="primary" mat-raised-button>Save</button>
    <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>

