<form #form="ngForm">
  <mat-card>
    <div style="align: center">
      <mat-card-title style="text-align: center;">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Driver</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card-title>
    </div>

    <mat-card-subtitle style="margin-top: 10px;">Basic Info</mat-card-subtitle>
    <mat-card-content>
      <!-- Driver Name -->
      <mat-form-field appearance="fill">
        <mat-label>Driver Name</mat-label>
        <input #productName="ngModel"
               [(ngModel)]="driver.driverName"
               matInput
               name="driverName"
               required style="column-width: 400px;">
        <mat-error *ngIf="!productName.valid && productName.touched">Driver name is mandatory.</mat-error>
      </mat-form-field>
      <!-- Mobile No -->
      <mat-form-field appearance="fill">
        <mat-label>Mobile No</mat-label>
        <input #mobileNo="ngModel"
               [(ngModel)]="driver.mobileNo"
               matInput
               maxlength="10"
               name="mobileNo"
               pattern="[0-9]{10}"
               style="column-width: 400px;" type="tel">
        <mat-error *ngIf="!mobileNo.valid && mobileNo.touched">Invalid mobile no, please check your input.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <!-- Vehicle No -->
      <mat-form-field appearance="fill">
        <mat-label>Vehicle No</mat-label>
        <input #vehicleNo="ngModel"
               [(ngModel)]="driver.vehicleNo"
               matInput
               name="vehicleNo"
               maxlength="13"
               required style="column-width: 400px;">
        <mat-error *ngIf="!vehicleNo.valid && vehicleNo.touched">Validation failure.</mat-error>
      </mat-form-field>
      <!-- License No -->
      <mat-form-field appearance="fill">
        <mat-label>License No</mat-label>
        <input #licenseNo="ngModel"
               [(ngModel)]="driver.licenseNo"
               matInput
               name="licenseNo"
               maxlength="16"
               style="column-width: 400px;">
        <mat-error *ngIf="!licenseNo.valid && licenseNo.touched">Validation failure.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="margin-left: 5px;">
      <button (click)="saveDriver()" [disabled]="!form.valid" color="primary" mat-raised-button>Save</button>
      <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
    </mat-card-actions>

  </mat-card>
</form>
