<form #form="ngForm">
  <mat-card>
    <div style="align: center">
      <mat-card-title style="text-align: center;">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Material</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card-title>
    </div>

    <mat-card-subtitle style="margin-top: 10px;">Basic Info</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Material</mat-label>
        <input #productName="ngModel" [(ngModel)]="product.productName" matInput name="productName" required style="column-width: 400px;">
        <mat-error *ngIf="!productName.valid && productName.touched">Please enter valid material name.</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions style="margin-left: 5px;">
      <button (click)="saveProduct()" [disabled]="!form.valid" color="primary" mat-raised-button>Save</button>
      <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
    </mat-card-actions>

  </mat-card>
</form>
